div{
    border: solid black 1px;
    margin: 10px 10px 10px 100px;
    padding: 10px;
    color: white;
    width: 40%;
    align-items:  auto;
}

.green{
    background-color: green;
    
}
.blue {
 background-color: blue;
}
.yellow{
    background: yellow;
    color: black;
}
